## Basics of Python

In [4]:
# Expressions
2+3

5

In [5]:
print("Hello World")

# Statements
for i in range(3):
    print(i)

Hello World
0
1
2

## Data Types

In [6]:
type(80)

int

In [7]:
type('hello')

str

In [8]:
type(99.9)

float

In [9]:
type(6>5)

bool

## Casting Data Types

In [10]:
int(2.3)

2

In [12]:
str(9)

'9'

In [11]:
float(4)

4.0

## Lists

In [19]:
animals = ["dog", "cat", "sheep", "goat", "tiger","lion"]

print(animals[2])
print(animals[-1])
print(animals[2:5])

sheep
lion
['sheep', 'goat', 'tiger']

In [ ]:
# Adding new element to list
animals.append('cow')
print(animals)

In [28]:
# Removing element from list

animals.remove("goat")
print(animals)

['dog', 'cat', 'tiger', 'lion', 'cow']

In [29]:
animals.clear()
print(animals)

[]

## Tuple

In [34]:
animals = ("bear", "dog", "cat", "rat", "goat")

print(animals[-2])
print(len(animals))

rat
5

In [32]:
# looping through tuple
for i in animals:
    print(i)

bear
dog
cat
rat
goat

In [36]:
# Joining tuples using +
letters = ('a','b','c')
numbers = (1, 2, 3)
letter_numbers = letters + numbers

print(letter_numbers)

('a', 'b', 'c', 1, 2, 3)

## Dictionary

In [38]:
# Dictionaries key-value pair separated by commas
dict1 = {
    1 : "one",
    2 : "two",
    3 : "three",
    4 : "four"
}

dict1[3]

'three'

In [39]:
dict1.get(2)

'two'

In [42]:
# Adding element to dictionary
dict1[5] = "five"
print(dict1)

# Pop to remove an element

dict1.pop(5)
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [44]:
for x,y in dict1.items():
    print("key:",x,"value:",y)

key: 1 value: one
key: 2 value: two
key: 3 value: three
key: 4 value: four

## operators

In [47]:
a = 2
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)

6
-2
8
0.5

In [48]:
print(a==b)

False

In [49]:
print(a<b)

True

## Statements

In [ ]:
# If Statement
a = 2
b = 3
if a<b:
  print("a is smaller than b")

In [51]:
a = 10
b = 20
if a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")
else:
  print(" b is greater than c")

 b is greater than c

## Loops

In [53]:
# While Loop 
i = 1
while i<4:
  print(i)
  i += 1

1
2
3

In [55]:
# For loop
for x in "india":
  print(x)

i
n
d
i
a

## Functions

In [56]:
def sum(x,y):
    print(x+y)
    
sum(2,3)

5

In [57]:
# Calculator
def calculator(operand1, operand2, operator):
    if operator == '+':
        return operand1 + operand2
    elif operator == '*':
        return operand1 * operand2
    elif operator == '/':
        if operand2 != 0:
            return operand1 / operand2
        else:
            return none
    else:
        return "invalid inputs"
output = calculator(10, 20, '*')
print(output)

200

## Exercise

In [58]:
# Area of triangle
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 5
Enter second side: 6
Enter third side: 7
The area of the triangle is 14.70